/* Pokemon Showcase */

.container-pokemon-showcase {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    gap: 20px;
}

.pokemon-showcase {
    height: 350px;
    width: 250px;
    border: solid rgb(70, 82, 249) 5px;
    border-radius: 10px;
    position: relative;
}

.pokemon-showcase:hover {
    filter: drop-shadow(10px 10px 15px rgb(49, 255, 245));
}

.pokemon-showcase:hover>.pokemon-showcase-img-container img {
    height: 90%;
    width: 90%;
    cursor: pointer;
}

.pokemon-showcase-header {
    background-color: #363636;
    color: white;
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding-left: 15px;
    border-radius: 5px;

}

.pokemon-showcase-img-container {
    background-color: greenyellow;
    height: calc(100% - 50px - 28px);
    width: 100%;
}

.pokemon-showcase-img-container img {
    height: 70%;
    width: 70%;
}

.pokemon-showcase-type-container {
    background-color: darkgreen;
    height: 50px;
    width: 100%;
    border-radius: 5px;
}

.pokemon-showcase-type-container img {
    /* height: 50px; */
    width: 38px;
}

.load-more-button {
    background-color: #934bf0;
    height: 30px;
    width: 130px;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 20px 25px 20px;
    cursor: pointer;
}

.load-more-button:hover {
    background-color: #7a3bc4;
}

/* Pokemon Card */

.pokemon-card {
    background-color: white;
    height: 700px;
    width: 500px;
}

.pokemon-card-img-container {
    background-image: url(./img/pokemon-team-instinct-yellow-lightning-sparks-6g99bs0aodpumjpw\ \(1\).gif);
    background-position: center;
    background-size: cover;
    border: solid black 1px;
    height: 500px;
    width: 100%;
    position: relative;
}

.button-switch {
    background-color: rgba(0, 255, 255, 0.108);
    height: 500px;
}

.button-switch:hover {
    background-color: #7b3bc424;
    cursor: pointer;
}

.button-previous {
    left: 0px;
    position: absolute;
}

.button-next {
    right: 0px;
    position: absolute;
}

.pokemon-card-img {
    height: 100%;
    width: 500px;
    opacity: 100%;
}