header {
    background-color: blue;
    height: 50px;
}

main {
    background-color: turquoise;
}

.content-limit {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    padding: 0 20px;
}

footer {
    background-color: blue;
    height: 50px;
}

.d-none {
    display: none;
}