header {
    background-color: turquoise;
    height: 50px;
    display: flex;
    justify-content: center;
}

main {
    background-color:gold ;
}

.content-limit {
    width: 1920px;
    max-width: 1920px;
    padding: 0 20px;
}

footer {
    background-color: turquoise;
    height: 50px;
}

.d-none {
    display: none;
}